<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
    "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>
  <action id="org.freedesktop.policykit.exec.install">
    <description>Run /usr/bin/install</description>
    <message>Authentication is required for installation</message>
    <defaults>
    <allow_any>auth_admin</allow_any>
    <allow_inactive>auth_admin</allow_inactive>
    <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/install</annotate>
  </action>
    
  <action id="org.freedesktop.policykit.exec.systemctl">
    <description>Run /usr/bin/systemctl</description>
    <message>Authentication is required to configure a systemd service</message>
    <defaults>
    <allow_any>auth_admin</allow_any>
    <allow_inactive>auth_admin</allow_inactive>
    <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/systemctl</annotate>
  </action>
    
  <action id="com.blockstream.satellite.runner">
    <description>Run Blocksat Daemon</description>
    <message>Authentication is required to run the Blocksat Daemon application</message>
    <defaults>
    <allow_any>auth_admin</allow_any>
    <allow_inactive>auth_admin</allow_inactive>
    <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
